# attrs>=19.1.0
# dtw
# fastdtw
# gdown
# gym>=0.17.3
# jsonlines
# lmdb
# msgpack_numpy
# networkx
# numpy>=1.16.1
# pre-commit
# tqdm>=4.0.0
# yacs>=0.1.5
# Opencv-python>=3.3.0
# seaborn
# --extra-index-url https://download.pytorch.org/whl/cu116
# torch==1.13.1+cu116
# --extra-index-url https://download.pytorch.org/whl/cu116
# torchvision==0.14.1+cu116
# use conda to install scipy=1.6.1
git+https://github.com/openai/CLIP.git
importlib-metadata
tensorboard
pot
gensim
transformers
pre-commit
natsort
matplotlib
h5py
scikit-learn
scikit-learn-intelex